.album {
    width: 50%;
    padding: 5px;
    flex: 1;

    @media all and (min-width: 40em) {
        width: 33.33%
    }

    &__cover {
        padding-bottom: 100%;
        background-color: #ccc;
        background-size: cover;
    }
}
