.view { width: 100% }

.album {
    width: 100%;
    max-width: 420px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    transition: transform .5s;
    color: #fff;
    cursor: pointer;

    &__cover {
        width: 100px;
        height: 100px;
        position: relative;
        background-color: #ccc;
    }

    &__loadinghelper {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
    }

    &__img {
        height: 100%;
        width: 100%;
        position: absolute;
        background-size: cover;
        opacity: 0.01;
        transition: opacity .5s;

        &.is-loaded {
            opacity: 1;
        }
    }

    &__icon {
        width: 10px;
        height: 10px;
        padding: 3px;
        border-radius: 50%;
        fill: #fff;

        &--highlight {
            fill: rgba(#9cc700, .8);
        }
    }

    &__desc {
        padding: 0 20px;
        flex: 1;

        &__title {
            margin-bottom: 5px;
            font-weight: bold;
        }

        &__artist {
            font-style: italic;
            font-size: 12px;
        }
    }
}
