.loader {
    height: 0;
    position: absolute;
    left: -9999px;
    pointer-events: none;
    display: flex;
    opacity: 0.01;
    transition: opacity .2s;

    &__spinner {
        width: 60px;
        height: 60px;
        margin: auto;
        border-radius: 50%;
        position: relative;
        background-color: #333;

        &:before,
        &:after {
            content: '';
            position: absolute;
        }

        &:before {
            width: 36%;
            height: 36%;
            margin: -18% 0 0 -18%;
            background-color: #ccc;
            border-radius: 50%;
            top: 50%;
            left: 50%;
        }

        &:after {
            margin-top: -14px;
            margin-left: -8px;
            border: 8px solid transparent;
            border-bottom-width: 8px;
            border-bottom-color: green;
            top: 50%;
            left: 50%;
        }
    }

    &__glance {
        width: .1em;
        height: 55px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: rgba(#fff, .2);
        box-shadow: 0 0 10px #fff;
        opacity: .7;
    }
}

.loader.is-active {
    height: calc(100% - 64px);
    position: static;
    opacity: 1;
    transition: opacity .1s;

    .loader__spinner {
        animation: loader-rotate 1.5s infinite linear;
    }

    .loader__glance {
        animation: loader-rotate--reverse 8s infinite both linear;
    }
}

@keyframes loader-rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate--reverse {
    to {
        transform: rotate(-360deg);
    }
}
