.albums-list {
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 880px) {
        justify-content: space-between;
    }
}

.empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    span {
        margin-bottom: 20px;
    }
}
