.header {
    display: flex;
    align-items: center;
    color: #fff;

    &__cover {
        width: 33.33%;
        padding-right: 10px;

        & > img {
            width: 100%;
            display: block;
        }
    }

    &__title {
        padding-left: 10px;
    }
}

.title {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}
